<h1>{{title}}</h1>
<a href="https://github.com/carlosmlprado/bank-api">Link to repo</a>

<html>
<body>

<h2>Create Account</h2>

<form>
  <label for="fname">Name </label>
  <input type="text" id="name" name="name" value="">
  <label for="lname"> BSN </label>
  <input type="text" id="bsn" name="bsn" value=""><br><br>
  <label for="lname">Street </label>
  <input type="text" id="street" name="street" value="">
  <label for="lname"> Postal Code </label>
  <input type="text" id="postCode" name="postCode" value=""><br><br>
  <label for="lname">Number </label>
  <input type="text" id="number" name="number" value="">
  <label for="lname"> City </label>
  <input type="text" id="city" name="city" value=""><br><br>
  <label for="lname">Bank </label>
  <input type="text" id="bank" name="bank" value=""><br><br>
</form> 
<button (click)="createAccount()"
class="btn">
</button>

  <h2>Create Transaction</h2>

  <label for="originBank">Origin Bank </label>
  <input #originBank type="text" value="">
  <label for="originAccount"> Origin Account </label>
  <input #originAccount type="text" value=""><br><br>
  <label for="originName"> Origin Name </label>
  <input #originName type="text" value="">
  <label for="destinationBank"> Destination Bank </label>
  <input #destinationBank type="text" value=""><br><br>
  <label for="destinationAccount"> Destination Account </label>
  <input #destinationAccount type="text" value="">
  <label for="destinationName"> Destination Name </label>
  <input #destinationName type="text" value=""><br><br>
  <label for="amount"> Amount </label>
  <input #amount type="text" value=""><br><br>
<button (click)="
createTransaction(originBank.value, originAccount.value, originName.value, 
    destinationBank.value, destinationAccount.value, destinationName.value, amount.value)
" class="btn"> Create
</button>

<br><br>
<h2>List Bank Accounts</h2>

  <label for="customerId">Customer Id </label>
  <input #customerId type="text" value="">
  <button (click)="getCustomerBankAccounts(customerId.value)" class="btn" >List
</button>

<head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  </head>
  <h2>Bank Accounts</h2>
  
  <table>
    <tr>
      <th>Bank</th>
      <th>Iban</th>
      <th>Type</th>
      <th>Open Date</th>
      <th>Status</th>
    </tr>
    <tbody *ngFor="let bankAccount of bankAccounts">
    <td>{{bankAccount!.bank}}</td>
      <td>{{bankAccount!.iban}}</td>
      <td>{{bankAccount!.type}}</td>
      <td>{{bankAccount!.openSince}}</td>
      <td>{{bankAccount!.status}}</td>
    </tbody>
  </table>

<br><br>
<h2>Delete Bank Accounts</h2>

  <label for="customeDeleterId">Customer Id </label>
  <input #customeDeleterId type="text" value="">
  <button (click)="deleteAccounts(customeDeleterId.value)" class="btn" >Delete
</button>

<h2>Received and Sent Amounts</h2>
  
<label for="customeAmountId">Customer Id </label>
<input #customeAmountId type="text" value="">
<button (click)="moneyReceivedAndSentInTransactions(customeAmountId.value)" class="btn" >Received
</button>
  
<table>
    <tr>
      <th>Received</th>
      <th>Sent</th>
      <th>Total</th>
      <th>Customer Name</th>
    </tr>
    <tbody *ngIf="amounts">
    <td>{{amounts.moneyReceived}}</td>
      <td>{{amounts.moneySent}}</td>
      <td>{{amounts.total}}</td>
      <td>{{amounts.customerName}}</td>
    </tbody>
  </table>


</body>
</html>

